<div class="floor-info">
    <div class="info-item">
        <div class="info-item__title">Номер дома :</div>
        <div>1</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Поверх:</div>
        <div>2</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Кіл-ть кімнат:</div>
        <div>3</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Площадь квартири:</div>
        <div>4</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Ціна за м²:</div>
        <div>5</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Ціна за квартиру:</div>
        <div>6</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Номер квартири:</div>
        <div>7</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Статус квартири:</div>
        <div>8</div>
    </div>
</div>